.root* {
    -fx-background-color: seashell;
    -fx-alignment: center;
}

/*.list-view {*/
/*    -fx-border-color: black;*/
/*}*/

/*.text-area {*/
/*    -fx-border-color: black;*/
/*}*/


/* Pane's Styling */
.MainMenu {
    -fx-padding: 20;
    -fx-vgap: 15;
    -fx-hgap: 20;
    -fx-background-color: seashell;
    /*-fx-font-family: "Courier New";*/
}

.GameBoard {
    -fx-padding: 20;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: center;
}
