.root* {
    -fx-background-color: seashell;
    -fx-alignment: center;
}

/*.button {*/
/*    -fx-border-color: black;*/
/*}*/

/* Pane's Styling */
.MainMenu {
    -fx-padding: 20;
    -fx-vgap: 15;
    -fx-hgap: 20;
}

.GameBoard {
    -fx-padding: 20;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-alignment: center;
}

.GameWinner {
    -fx-background-color: green;
}
